@model IEnumerable<Foot>


<div class="agile_top_brands_grids">
	@foreach(var x in Model){
	<div class="col-md-3 top_brand_left">
		<div class="hover14 column">
			<div class="agile_top_brand_left_grid">
				<div class="agile_top_brand_left_grid1">
					<figure>
						<div class="snipcart-item block">
							<div class="snipcart-thumb">
								<img title=" " alt=" " src="@x.FootImageURl" style="height:200px" />
								<p>@x.FootName</p>
								<h4>@x.FootPrice TL</h4>
							</div>
							
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div>

	}
	<div class="clearfix"> </div>
</div>
